<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" >
    <i class="fa fa-institution m-r-xs"></i>
    Management & Property Setting
  </h1>
</div>
<div class="wrapper-md" ng-controller="ConfigPropertyCtrl">
  <div class="panel panel-default">
    <table st-table="displayManagements" st-safe-src="managements" class="table table-striped">
      <thead class="panel-heading">
      <tr>
        <th colspan="6" class="h4">
          Management
          <button type="button" class="btn btn-xs btn-success m-l-sm" ng-click="addManagement()">
            <i class="fa fa-plus"></i> Add New
          </button>
        </th>
      </tr>
      <tr>
        <th st-sort="code">Code</th>
        <th st-sort="name">Name</th>
        <th st-sort="taxReg">Tax Reg.</th>
        <th st-sort="created">Created</th>
        <th st-sort="updated">Updated</th>
        <th width="50"></th>
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="row" st-select-mode="single" ng-repeat="row in displayManagements"
          ng-click="showPropertyPanel(row)">
        <td>
          <i class="icon icon-control-play" ng-show="row.isSelected"></i>
          {{row.code}}
        </td>
        <td>{{row.name}}</td>
        <td>{{row.taxReg}}</td>
        <td>{{row.created | date: 'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td>{{row.updated | date: 'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td style="white-space: nowrap">
          <div class="buttons pull-right">
            <a ng-click="row.isSelected=false;editManagement(row)" class="btn btn-xs btn-success" tooltip="Edit">
              <i class="fa fa-edit"></i> edit
            </a>
            <a ng-click="row.isSelected=false;removeManagement(row)" class="btn btn-xs btn-danger" tooltip="Delete">
              <i class="fa fa-times"></i> del
            </a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="5" st-displayed-pages="7" class="no-margin"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class="panel panel-default" ng-show="showProperties">
    <table st-table="displayProperties" st-safe-src="properties" class="table table-striped">
      <thead class="panel-heading">
      <tr>
        <th colspan="6" class="h4">
          Properties
          <button type="button" class="btn btn-xs btn-success m-l-sm" ng-click="addProperty()">
            <i class="fa fa-plus"></i> Add New
          </button>
        </th>
      </tr>
      <tr>
        <th st-sort="code">Code</th>
        <th st-sort="name">Name</th>
        <th st-sort="created">Created</th>
        <th st-sort="updated">Updated</th>
        <th width="50"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayProperties">
        <td>{{row.code}}</td>
        <td>{{row.name}}</td>
        <td>{{row.created | date: 'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td>{{row.updated | date: 'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td style="white-space: nowrap">
          <div class="buttons pull-right">
            <a ng-click="editProperty(row)" class="btn btn-xs btn-success" tooltip="Edit">
              <i class="fa fa-edit"></i> edit
            </a>
            <a ng-click="removeProperty(row)" class="btn btn-xs btn-danger" tooltip="Delete">
              <i class="fa fa-times"></i> del
            </a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="5" st-displayed-pages="7" class="no-margin"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
