<div class="form-group">
  <label class="col-sm-3 control-label">Home Address </label>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12 checkbox">
        <label class="i-check m-r-lg">
          <input type="checkbox" ng-model="personAddress[0].forBilling"> Billing
        </label>
        <label class="i-check">
          <input type="checkbox" ng-model="personAddress[0].forLetternotif"> Letter & Notification
        </label>
      </div>
    </div>
    <input type="text" placeholder="Building name & floor" class="form-control" ng-model="personAddress[0].building" >
    <input type="text" placeholder="Street" class="form-control" ng-model="personAddress[0].street" >
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="City" class="form-control" ng-model="personAddress[0].city" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Province" class="form-control" ng-model="personAddress[0].province" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Country" class="form-control" ng-model="personAddress[0].country" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Postal Code" class="form-control" ng-model="personAddress[0].postalCode" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Phone" class="form-control" ng-model="personAddress[0].phone" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Fax" class="form-control" ng-model="personAddress[0].fax" >
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Office Address </label>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12 checkbox">
        <label class="i-check m-r-lg">
          <input type="checkbox" ng-model="personAddress[1].forBilling"> Billing
        </label>
        <label class="i-check">
          <input type="checkbox" ng-model="personAddress[1].forLetternotif"> Letter & Notification
        </label>
      </div>
    </div>
    <input type="text" placeholder="Building name & floor" class="form-control" ng-model="personAddress[1].building" >
    <input type="text" placeholder="Street" class="form-control" ng-model="personAddress[1].street" >
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="City" class="form-control" ng-model="personAddress[1].city" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Province" class="form-control" ng-model="personAddress[1].province" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Country" class="form-control" ng-model="personAddress[1].country" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Postal Code" class="form-control" ng-model="personAddress[1].postalCode" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Phone" class="form-control" ng-model="personAddress[1].phone" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Fax" class="form-control" ng-model="personAddress[1].fax" >
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Other Address </label>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12 checkbox">
        <label class="i-check m-r-lg">
          <input type="checkbox" ng-model="personAddress[2].forBilling"> Billing
        </label>
        <label class="i-check">
          <input type="checkbox" ng-model="personAddress[2].forLetternotif"> Letter & Notification
        </label>
      </div>
    </div>
    <input type="text" placeholder="Building name & floor" class="form-control" ng-model="personAddress[2].building" >
    <input type="text" placeholder="Street" class="form-control" ng-model="personAddress[2].street" >
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="City" class="form-control" ng-model="personAddress[2].city" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Province" class="form-control" ng-model="personAddress[2].province" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Country" class="form-control" ng-model="personAddress[2].country" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Postal Code" class="form-control" ng-model="personAddress[2].postalCode" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" placeholder="Phone" class="form-control" ng-model="personAddress[2].phone" >
      </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Fax" class="form-control" ng-model="personAddress[2].fax" >
      </div>
    </div>
  </div>
</div>
